.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

vendor
vagrants
nodes
clients
data_bags
.chef/local-mode-cache/
.chef/keys/
.chef/nodes
.chef/cookbooks
.chef/data_bags
.chef/client.rb
.chef/Policyfile.lock.json
Policyfile.lock.json
